<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.upj.tif.menghitungluas">
<!--
* slide curah hujan kan ketika pilih 2 stsiun harusnya clear all textnya supaya ngak kehitung
*
*
-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="iVolos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main5Activity"
            android:label="VoLoS"
            android:theme="@style/AppTheme.NoActionBar">
        <!--android:launchMode="singleTop"-->

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Intensitas Hujan"
            android:parentActivityName=".Main5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main5Activity" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Debit Banjir Maksimum"
            android:parentActivityName=".Main5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main5Activity" />
        </activity>
        <activity
            android:name=".Main3Activity"
            android:label="Back Water"
            android:parentActivityName=".Main5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main5Activity" />
        </activity>
        <activity
            android:name=".Main4Activity"
            android:label="Volume Long Storage"
            android:parentActivityName=".Main5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main5Activity" />
        </activity>
        <activity android:name=".Main6Activity"
            android:label="Poligon Thiessen"
            android:parentActivityName=".Main5Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main5Activity" />
        </activity>
    </application>

</manifest>